<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Dashboard</title>
		<link rel="stylesheet" href="/css/admin.css">
	</head>
	<body class="dashboard">
		<header>
			<div class="nav-brand"><img src="/images/logo.png" alt="Logo" class="logo"></div>
			<ul class="nav">
				<li class="nav-item">
					<a href="javascript:void(0)" action="logout" class="nav-link">Logout</a>
				</li>
			</ul>
		</header>
		<main>
			<aside class="sidenav">
				<ul class="nav">
    				{% for item in sidenav %}
    					<li class="nav-item">
    						<a href="{{item.link}}" class="nav-link {{item.active?"active":""}}">{{item.name}}</a>
    					</li>
					{% endfor %}
				</ul>
			</aside>
			<div class="main-body"></div>
		</main>
		 <script src="/js/dom-enhancement.js"></script>
		 <script type="module" src="/js/admin.js"></script>
	</body>
</html>
