<!DOCTYPE html>
<html lang="en">
{% include "comp/head.twig" %}

<body>
    <main>
    {% include "comp/header.twig" %}
        {% include "comp/banner.twig" %}
        {% include "comp/about.twig" %}
        {% include "comp/usp.twig" %}
        {% include "comp/testimonials.twig" %}
        {% include "comp/faq.twig" %}
        {% include "comp/footer.twig" %}
    </main>
    <script type="module" src="/js/script.js"></script>
</body>

</html>