<footer>
	<div class="about">
		<div class="logo">
			<picture>
				<source type="image/png" src="/images/logo.png"/><img src="/images/logo.png" alt=""/>
			</picture>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis excepturi totam possimus unde
			                    accusantium delectus perferendis sequi? Nemo ex, perspiciatis earum, neque blanditiis, architecto
			                    deserunt aspernatur vero cum tenetur illum?</p>
	</div>
	<div class="socials">
		<div class="title">Socialize with us</div>
		<ul>
			<li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i>Facebook</a></li>
			<li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i>Facebook</a></li>
		</ul>
	</div>
	<div class="links">
		<div class="title">Our Policies</div>
		<ul>
			<li><a href="/policy/privacy">Privacy Policy</a></li>
			<li><a href="/policy/cancellation">Cancellation Policy</a></li>
			<li><a href="/policy/refund">Refund policy</a></li>
			<li><a href="/policy/gdpr">GDPR Policy</a></li>
			<li><a href="/policy/terms-and-conditions">Terms and Conditions</a></li>
		</ul>
	</div>
</footer>
